@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-primary: black;
  --background: #1a1a2e;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  transition: color 0.3s ease;
  color: var(--text-primary);
  background: var(--background);
}

button, input {
  outline: none;
}
