@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-primary: #ffffff;
  --text-secundary: #8c8c8c;
  --text-tertiary: #000000;

  --color-primary: #086AF3;
  --background: #000000;
}

[data-theme="light"] {
  --text-primary: black;
  --background: white;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  transition: color 0.3s ease;
  color: var(--text-primary);
  background: var(--background);
}

button, input {
  outline: none;
}
